*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #040d21;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #f1f1f1;
    font-size: 70px;
    margin: 40px 0 50px 0;
    text-align: center;
}

form, .display {
    margin: 0 auto;
    max-width: 800px;
    min-width: 400px;
    width: 50%;
}

input {
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.display {
    display: flex;
    justify-content: center;
}

.card {
    background: #f1f1f1;
    border-radius: 5px;
    height: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    position: relative;
    width: 500px;
}

.avatar {
    background: #000;
    border: 1px solid #000;
    border-radius: 50%;
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
}

h2 {
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
}

.infos {
    border-top: 1px dashed #000;
    list-style-type: none;
    margin-top: 20px;
}

li {
    font-size: 22px;
    padding: 10px 20px;
    text-align: center;
}

li:nth-child(1) {
    margin-top: 15px;
}